<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hoccer.xo.release"
          android:versionCode="20"
          android:versionName="1.0.1">

    <!-- We run on 2.3.3 (10) and up, we use features from up to 4.2 (17) -->
    <uses-sdk
            android:minSdkVersion="14"
            android:targetSdkVersion="17"/>

    <supports-screens
            android:anyDensity="true"
            android:largeScreens="true"
            android:normalScreens="true"
            android:resizeable="true"
            android:smallScreens="true"
            android:xlargeScreens="true"
            />

    <!-- We can use the camera for capture -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <!-- for Tablet devices without GSM like Nexus 7-->
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <!-- we also want to be listed for devices without GPS -->
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <!-- GMaps needs GLES2 -->
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <!-- Obviously, we need internet access -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- We monitor connection status while we want to communicate -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- We also use GCM -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- GCM uses this -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- Notification vibration -->
    <uses-permission android:name="android.permission.VIBRATE"/>
    <!-- For attachments, also used for logging -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- We read and write contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- SMS receive for pairing tokens -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <!-- Our own GCM permission -->
    <uses-permission android:name="com.hoccer.xo.release.permission.C2D_MESSAGE"/>
    <!-- Google Play Services / GMaps -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <!-- GMaps / locations -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <!-- Declare permission for controlling our own push package -->
    <permission
            android:name="com.hoccer.xo.release.permission.C2D_MESSAGE"
            android:protectionLevel="signature"/>

    <!-- Declare our application -->
    <application
            android:name="com.hoccer.xo.android.XoApplication"
            android:allowBackup="false"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">

        <!-- Google Play Services -->
        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>

        <!--API key for Google Maps Android API v2 for release certificate-->
        <!--<meta-data-->
        <!--android:name="com.google.android.maps.v2.API_KEY"-->
        <!--android:value="AIzaSyBDd2wBF1gH9UcU2KcAPXXKI9G6HQattkM"/>-->

        <!-- API key for Google Maps Android API v2 based on debug certificate -->
        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyC9hBvAarkQ9ktS0rWZ5Row-MXRatv8Dj0"/>

        <!-- Contact list - our main activity -->
        <activity
                android:name="com.hoccer.xo.android.activity.ContactsActivity"
                android:label="@string/app_name"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:screenOrientation="portrait">
            <!-- Show in launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Messaging activity -->
        <activity
                android:name="com.hoccer.xo.android.activity.MessagingActivity"
                android:label="@string/app_name"
                android:parentActivityName="com.hoccer.xo.android.activity.ContactsActivity"
                android:windowSoftInputMode="stateHidden"
                android:configChanges="keyboardHidden|orientation|screenSize">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hoccer.xo.android.activity.ContactsActivity"/>
        </activity>

        <!-- Single Profile activity -->
        <activity
                android:name="com.hoccer.xo.android.activity.SingleProfileActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hoccer.xo.android.activity.ContactsActivity"/>
        </activity>

        <!-- Group Profile activity -->
        <activity
                android:name="com.hoccer.xo.android.activity.GroupProfileActivity"
                android:label="@string/app_name"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateHidden">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hoccer.xo.android.activity.ContactsActivity"/>
        </activity>

        <!-- Pairing activity -->
        <activity
                android:name="com.hoccer.xo.android.activity.PairingActivity"
                android:label="@string/app_name"
                android:parentActivityName="com.hoccer.xo.android.activity.ContactsActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hoccer.xo.android.activity.ContactsActivity"/>
            <action android:name="android.intent.action.VIEW"/>
            <category android:name="android.intent.category.BROWSABLE"/>
            <data android:scheme="hxo"/>
        </activity>

        <!-- Preference activity -->
        <activity
                android:name="com.hoccer.xo.android.activity.XoPreferenceActivity"
                android:label="@string/app_name"
                android:parentActivityName="com.hoccer.xo.android.activity.ContactsActivity"
                android:screenOrientation="portrait">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hoccer.xo.android.activity.ContactsActivity"/>
        </activity>

        <!-- About activity -->
        <activity
                android:name="com.hoccer.xo.android.activity.AboutActivity"
                android:label="@string/app_name"
                android:parentActivityName="com.hoccer.xo.android.activity.ContactsActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.hoccer.xo.ABOUT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hoccer.xo.android.activity.ContactsActivity"/>
        </activity>

        <!-- Licenses activity -->
        <activity
                android:name="com.hoccer.xo.android.activity.LicensesActivity"
                android:label="@string/app_name"
                android:parentActivityName="com.hoccer.xo.android.activity.ContactsActivity"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.hoccer.xo.LICENSES"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.hoccer.xo.android.activity.ContactsActivity"/>
        </activity>

        <!-- Maps selection activity -->
        <activity
                android:name="com.hoccer.xo.android.content.location.MapsLocationActivity"
                android:label="@string/selectlocation_title">
        </activity>

        <!-- Connection and delivery service -->
        <service android:name="com.hoccer.xo.android.service.XoClientService"/>

        <!-- GCM push service -->
        <service android:name="com.hoccer.talk.android.push.TalkPushService"/>

        <!-- GCM broadcast receiver -->
        <receiver
                android:name="com.hoccer.talk.android.push.TalkPushReceiver"
                android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <!-- Restrict to our own push package -->
                <category android:name="com.hoccer.talk.android"/>
            </intent-filter>
        </receiver>

        <!-- SMS broadcast receiver -->
        <receiver
                android:name="com.hoccer.xo.android.sms.SmsReceiver"
                android:permission="android.permission.BROADCAST_SMS"
                android:exported="true">
            <!-- Priority 999 is the maximum priority allowed for applications -->
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"></action>
            </intent-filter>
        </receiver>

    </application>

</manifest>
